@font-face { font-family: "Fontin Sans"; src: url('../fonts/Fontin_Sans/Fontin_Sans_R_45b.otf'); }
@font-face { font-family: "Fontin Sans"; src: url('../fonts/Fontin_Sans/Fontin_Sans_B_45b.otf'); font-weight: bold; }
@font-face { font-family: "Fontin Sans"; src: url('../fonts/Fontin_Sans/Fontin_Sans_I_45b.otf'); font-style:italic; }

body { font-family:"Fontin Sans", "Helvetica New", Arial, sans-serif; background-color:#FFF; color: #4D4D4D; margin:0; padding:70px 0 0; }

.container-fluid .span9 .section { margin: 30px 0 80px; }
.container-fluid .span9 h1 { margin-top: 50px; }
.container-fluid .span9 h3 { margin: 25px 0 10px; }

.sidebar-nav .well {
  padding: 9px 0;
}
.scrollto { cursor: pointer; }

tr th.width1 { width:1%; }
tr th.width30 { width:30%; }
tr th.width35 { width:35%; }
tr.subelement td:first-child, tr.substructure td { background-color: #FAF7D4 !important; }

/* Overrides bootstrap css */
.navbar .brand { padding: 5px 10px; margin:0; }
.navbar .brand img { margin-bottom: -3px; padding: 0; }
.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1996d3;
  background-image: -moz-linear-gradient(top, #1996d3, #1996d3);
  background-image: -ms-linear-gradient(top, #1996d3, #1996d3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1996d3), to(#1996d3));
  background-image: -webkit-linear-gradient(top, #1996d3, #1996d3);
  background-image: -o-linear-gradient(top, #1996d3, #1996d3);
  background-image: linear-gradient(top, #1996d3, #1996d3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1996d3', endColorstr='#1996d3', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  border-bottom:1px solid #fff;
}
.navbar .nav > li > a.active { border-top: 3px solid #fff; padding-top: 6px; }
.navbar .nav > .active > a, .navbar .nav > li > a:hover { border-top: 3px solid #fff; padding-top: 6px; background-color:transparent !important; }
.navbar .nav > li > a { line-height: 24px; color:#fff; font-size: 16px; color: rgba(255, 255, 255, .7); }
.navbar .nav > li > .context { line-height: 24px; color: white; font-size: 24px; font-style: italic; float: none; text-decoration: none; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
.navbar .nav > li > a.context:hover { border-top: none !important; padding-top: 9px !important; }
.dropdown .caret { margin-top: 10px; }
.navbar .nav.pull-right .dropdown-menu li > a:hover,
.navbar .nav.pull-right .dropdown-menu .active > a,
.navbar .nav.pull-right .dropdown-menu .active > a:hover { 
  color: #ffffff; 
  text-decoration: none;
  background-color: #1996d3;
    background-image: -moz-linear-gradient(top, #1996d3, #1996d3);
    background-image: -ms-linear-gradient(top, #1996d3, #1996d3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1996d3), to(#1996d3));
    background-image: -webkit-linear-gradient(top, #1996d3, #1996d3);
    background-image: -o-linear-gradient(top, #1996d3, #1996d3);
    background-image: linear-gradient(top, #1996d3, #1996d3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1996d3', endColorstr='#1996d3', GradientType=0); 
}
.dropdown-menu > li > a { color: #333; }
.navbar .divider-vertical { height: 45px; background-color: #188CC4; border-right: 1px solid #2EA4DE; }
.navbar .btn-navbar {
  background-color: #188CC4;
  background-image: -moz-linear-gradient(top, #188CC4, #188CC4);
  background-image: -ms-linear-gradient(top, #188CC4, #188CC4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#188CC4), to(#188CC4));
  background-image: -webkit-linear-gradient(top, #188CC4, #188CC4);
  background-image: -o-linear-gradient(top, #188CC4, #188CC4);
  background-image: linear-gradient(top, #188CC4, #188CC4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#188CC4', endColorstr='#188CC4', GradientType=0);
  border-color: #188CC4 #188CC4 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(255, 255, 255, 0.075);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #188CC4;
}

.footer { 
  color: #ffffff;
  padding: 50px 25px;
  background-color: #1996d3;
    background-image: -moz-linear-gradient(top, #1996d3, #1996d3);
    background-image: -ms-linear-gradient(top, #1996d3, #1996d3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1996d3), to(#1996d3));
    background-image: -webkit-linear-gradient(top, #1996d3, #1996d3);
    background-image: -o-linear-gradient(top, #1996d3, #1996d3);
    background-image: linear-gradient(top, #1996d3, #1996d3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1996d3', endColorstr='#1996d3', GradientType=0);
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(0, 0, 0, 0.1); 
    border-top:1px solid #fff;
}
.footer .row { margin: 0 auto; }
.footer .row .span2 { margin-left:0;  margin-right: 0; }
.footer .row .span2:first-child, .footer .row .span2:first-child + .span2, .footer .row .span2:first-child + .span2 + .span2 { margin-right: 12.5%; }
.footer a { color:#f1f2f2; }
.footer a:hover { color:#fff; }

@media (min-width: 1270px) {
  .footer .row { width:1090px; }
}
@media (min-width: 1200px) {
  .footer .container { width:1090px; }
}
@media (max-width: 979px) {
  body { padding:0; }
}
@media (max-width: 930px) {
  body { padding:0; }
  .navbar-fixed-top { position: static; margin-bottom: 18px; }
}
@media (min-width: 768px) {
  .sidebar-nav .well { padding: 9px 0; position: fixed; width: 23.076923077%; }
  .sidebar-nav .well:nth-child(2) { top:185px; }
  .scrolltofooter { position: fixed; bottom:0; }
}
@media (max-width: 767px) {
  body { padding:0 20px; }
  .footer .row .span2 { width: 130px; margin:0 25px; display: inline-block; float: left; min-height: 100px; }
}
@media (max-width:600px) {
  .footer { margin:20px -20px 0; padding:20px; }
  .footer .container { width:300px; }
  .footer .row .span2 { width: 130px; margin:0; display: inline-block; float: left; min-height: 100px; }
  .footer .row .span2:first-child, .footer .row .span2:first-child + .span2, .footer .row .span2:first-child + .span2 + .span2 { margin-right: 10px; }
  .footer .row .span2:first-child + .span2, .footer .row .span2:first-child + .span2 + .span2 + .span2 { width: 110px; margin-left: 20px; }
}
@media (max-width: 320px) {
  .footer .container { width:auto; }
}